@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #E30613;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 60px;
}

.logo {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
}

.icone {
    width: 2rem;
    height: auto;
    border-radius: 50%; 
    cursor: pointer;
}

.logo img {
width: 80px;
height: auto;
}

/* Navegação */
.nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 55px;
    position: relative;
    z-index: 200;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
}

/* Dropdown */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E30613;
    padding: 10px;
    list-style: none;
    width: 150px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
    padding:10px ;
}

nav ul li ul li a {
    padding: 5px 10px;
    display: block;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
    ; 
}

.noturno {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggle-label {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    width: 100%;
    height: 100%;
    transition: background-color 0.4s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-label::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px; 
    border-radius: 50%;
    background-color: white;
    transition: transform 0.4s;
    transform: translateX(4px) translateY(4px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #2e3e41ff;
  }
  
  .toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(30px) translateY(4px);
  }