@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Estilo do cabeçalho */
header {
    background-color: #E30613;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 60px;

}

.logo {
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
}

.lua {
    width: 3rem;
    height: auto;
}

.logoimg {
width: 80px;
height: auto;
}

/* Navegação */
.nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 55px;
    position: relative;
    z-index: 200;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
}

/* Dropdown */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E30613;
    padding: 10px;
    list-style: none;
    width: 150px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
    padding:10px ;
}

nav ul li ul li a {
    padding: 5px 10px;
    display: block;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
    color:#E30613;
    ; 
}

.noturno {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}