@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #E30613;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    height: 8rem;
    padding: 2rem;
}

.tituloHeader {
    font-size: 1.4rem;
    margin: 1rem;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.lua {
    width: 4rem;
    height: auto;
    cursor: pointer;
}

.logoimg {
    width: 7rem;
    height: 6.570rem;
    margin-right: 2rem;
}

/* Navegação */
.nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 55px;
    position: relative;
    z-index: 200;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

}

nav ul li a:hover {
    background-color: #ffffff;
    color: #E30613;
}

/* Dropdown */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E30613;
    padding: 0.5rem;
    list-style: none;
    width: 12rem;
    font-size: 1.3rem;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    margin: 0;
    padding: 10px;
}

nav ul li ul li a {
    padding: 5px 10px;
    display: block;
    color: #ffffff;
}

nav ul li ul li a:hover {
    background-color: #ffffff;
    color: #E30613;
    ;
}

@media screen and (max-width:768px) {
    .tituloHeader {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    header {
        background-color: #E30613;
        width: 100%;
        color: #ffffff;
        margin-top: 6rem;
        height: 10rem;
    }

    .logo {
        width: 2rem;
    }
}