@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cor-vermelho: #E30613;
}

.titulo {
    height: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.titulo h1 {
    color: var(--cor-vermelho);
    margin-top: 1rem;
}

.calculadora {
    margin-top: 1.7rem;
    width: auto;
    height: 3rem;
}

.noticias {
    margin: 2rem 7rem 2rem 7rem
}

.imagem {
    height: 40rem;
}

.more-news-content {
    display: grid;
    place-items: center;
    margin: 0;
    padding-bottom: 50px;
}

.more-news {
    width: 350px;
    height: 80px;
    display: inline-block;
    background-color: var(--cor-vermelho);
    color: white;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 10rem;
}

.more-news:hover {
    background-color: #a5040f;
}

.paiCalendario {
    width: 100%;
    height: 80rem;
}

.tituloCalendario {
    padding: 1rem;
    color: var(--cor-vermelho);
}

.tituloCalendar:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 45%;
        height: 0.063rem;
        margin: 0.938rem;
        margin-left: 2.813rem;
        margin-top: 1.9rem;
        background-color: var(--cor-vermelho);
}

.imagemCalendario {
    display: flex;
    justify-content: center;
}

.calendario {
    width: 90%;
    height: auto;
}

@media (max-width: 768px) {
    
    .calendar-title:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 40%;
        height: 1px;
        margin: 15px;
        margin-left: 45px;
        background-color: #E30613;
    }
    .calendar-content img {
        width: 100%;
        height: auto;
        display: block;
    }
}