@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cor-vermelho: #E30613;
}

.titulo {
    height: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
}

.titulo h1 {
    color: var(--cor-vermelho);
    margin-top: 1.5rem;
}

.calculadora {
    margin-top: 1rem;
    width: auto;
    height: 5rem;
}

.noticias {
    margin-bottom: 3rem;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

h5 {
    font-weight: bold;
}

.imagem {
    height: 60rem;
    border-radius: 1%;
}

.text-carrossel {
    display: none;
}

.more-news-content {
    display: grid;
    place-items: center;
    margin: 0;
    padding-bottom: 3.125rem;
}

.more-news {
    width: 20rem;
    height: 5rem;
    display: inline-block;
    background-color: var(--cor-vermelho);
    color: white;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 10rem;
}

.more-news h3 {
    font-size: 1.5rem;
}

.more-news:hover {
    background-color: #84050d;
}

.paiCalendario {
    position: relative;
    z-index: 0;
    margin-bottom: 40px;
}

.tituloCalendario {
    color: var(--cor-vermelho);
    display: flex;
    justify-content: center;
    align-items: center;

}

.tituloCalendar {
    font-size: 3rem;
}

.pailinha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    color: var(--cor-vermelho);
    width: 90%;
    border-bottom: var(--cor-vermelho) 0.150rem solid;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.imagemCalendario {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.calendario {
    width: 90%;
    height: auto;
}

.aviso {
    display: none;
}

@media screen and (max-width: 769px) {


    .aviso {
        height: 3rem;
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .imagem {
        height: 40rem;
    }

    .tituloCalendar {
        font-size: 1.8rem;
        text-align: center;
    }

    .tituloCalendario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .noticias {
        margin-bottom: 0;
    }

    .text-carrossel {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0;
    }

}

@media screen and (min-width: 770px) and (max-width: 1900px) {
    .imagem {
        height: 40rem;
    }

    .tituloCalendar {
        font-size: 2.3rem;
        text-align: center;
    }
}