* {
    margin: 0;
}

body {
    background-color: white;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.carreira, .estagio {
    font-size: 20px;
    font-weight: bold;
    color: #d42c2e; /* Cor vermelha para os textos */
}

.separator {
    flex-grow: 1;
    height: 1px;
    background-color: #d3a29d; /* Cor da linha */
    margin: 0 20px;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    gap: 6rem;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}


.quadrado1, .quadrado2, .quadrado3, .quadrado4, .quadrado5, .quadrado6 {
    width: 26rem;
    height: 20rem;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    border-radius: 0.65rem;
    align-content: flex-start;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.308);
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DCCFCF;
}

.quadrado1 h3, .quadrado2 h3, .quadrado3 h3, .quadrado4 h3, .quadrado5 h3, .quadrado6 h3 {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.quadrado1 img, .quadrado2 img, .quadrado3 img, .quadrado4 img, .quadrado5 img, .quadrado6 img {
    width: 100%;
    height: auto;
    border-radius: 0.65rem 0.65rem 0 0;
    align-self: flex-start;
    margin: 0;
    display: flex;
}