* {
    margin: 0;
}

body {
    background-color: white;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.carreira,
.estagio {
    font-size: 20px;
    font-weight: bold;
    color: #d42c2e;
    /* Cor vermelha para os textos */
}

.separator {
    flex-grow: 1;
    height: 1px;
    background-color: #d3a29d;
    /* Cor da linha */
    margin: 0 20px;
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    gap: 6rem;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}


.quadrado1,
.quadrado2,
.quadrado3,
.quadrado4,
.quadrado5,
.quadrado6,
.quadrado7,
.quadrado8,
.quadrado9,
.quadrado10,
.quadrado11,
.quadrado12,
.quadrado13,
.quadrado14,
.quadrado15 {
    width: 26rem;
    height: 20rem;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    border-radius: 0.65rem;
    align-content: flex-start;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.308);
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    border: 1px solid #DCCFCF;
}

.quadrado1 h3,
.quadrado2 h3,
.quadrado3 h3,
.quadrado4 h3,
.quadrado5 h3,
.quadrado6 h3,
.quadrado7 h3,
.quadrado8 h3,
.quadrado9 h3,
.quadrado10 h3,
.quadrado11 h3,
.quadrado12 h3,
.quadrado13 h3,
.quadrado14 h3,
.quadrado15 h3 {
    color: rgb(0, 0, 0);
    padding: 1rem;
}

a {
    text-decoration: none;
}



.quadrado1 img,
.quadrado2 img,
.quadrado3 img,
.quadrado4 img,
.quadrado5 img,
.quadrado6 img,
.quadrado7 img,
.quadrado8 img,
.quadrado9 img,
.quadrado10 img,
.quadrado11 img,
.quadrado12 img,
.quadrado13 img,
.quadrado14 img,
.quadrado15 img {
    width: 100%;
    height: auto;
    border-radius: 0.65rem 0.65rem 0 0;
    align-self: flex-start;
    margin: 0;
    display: flex;
}

.quadrado1:hover,
.quadrado2:hover,
.quadrado3:hover,
.quadrado4:hover,
.quadrado5:hover,
.quadrado6:hover,
.quadrado7:hover,
.quadrado8:hover,
.quadrado9:hover,
.quadrado10:hover,
.quadrado11:hover,
.quadrado12:hover,
.quadrado13:hover,
.quadrado14:hover,
.quadrado15:hover {
    background-color: #b6b6b62c;
    transition: 300ms;
    transform: scale(1.05);
}