@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.test {
    font-size: 0.9rem;
    color: #E30613;
    margin: 30px;
}

.test-title:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 0.06rem;
    margin: 0.8rem 0 0 2.8rem;
    background-color: #E30613;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    background-color: #E30613;
    width: 100%;
    height: 3rem;
}

.algebra-container {
    width: 10rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.geometria-container {
    width: 10rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.trigonometria-container {
    width: 10rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.funcoes-container {
    width: 12rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.estatistica-container {
    width: 15rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.financeira-container {
    width: 15rem;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 2.5vh;
}

.all-questions {
    width: 100%;
    height: 100%;
    background-color: #089654;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.question-card {
    background-color: aquamarine;
    width: 100%;
    height: 80vh;
    padding: 0 0 0 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-card h2 {
    color: #E30613;
}

.answer-options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}