*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-tittle {
    color: #E30613;
}

.calculadora {

}

.content-img {

}

.main-content {

}

.menino {

}

.professora {

}

.grafico {

}

.maisNoticias {

}